* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.fixed {
  position: fixed;
}

.w-50 {
  width: 50%;
}

.horiz-line {
  height: 2px;
  background-color: #899397;
}

p {
  line-height: 3vh;
}


body {
  font-family: 'Montserrat', sans-serif;
  min-width: 1200px;
  color: #33475B;
}







/* header */

header {
  position: relative;
}

header nav {
  padding-right: 10%;
  padding-left: 10%;
}

/* nav fixed */

header nav.fixed {
  z-index: 999;
  width: 100%;
  height: 100px;
  font-weight: 600;
  border-bottom: 1px solid black;
  background-color: #F4F9FD;
}

header nav.fixed div {
  display: inline;
  line-height: 100px;
}

header nav.fixed div.border-right {
  border-right: 2px solid gray;
  padding-right: 20px;
  margin-right: 20px;
}

header nav.fixed .header-right {
  text-align: right;
}

header nav.fixed .header-right .button {
  font-size: 80%;
}

header nav.fixed .header-right .search {
  color: #10A4BD;
}

/* nav non-fixed */

header nav.non-fixed {
  width: 100%;
  height: 200px;
  background-color: white;
}

header nav.non-fixed div {
  padding-top: 100px;
  display: inline;
  line-height: 100px;
}

header nav.non-fixed .header-right {
  text-align: right;
}

/* liste inline */

li {
  list-style: none;
}

.inline-menu li {
  display: inline;
  padding: 0 10px;
}

/* buttons */

.button {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 20px;
  text-decoration: none;
  border: 1px solid #FE785A;
}

.button.empty-button {
  color: #FE785A;
}

.button.filled-button {
  color: white;
  background-color: #FE785A;
}

.button.button-small {
  padding: 10px;
}

.button.button-big {
  padding: 20px 40px;
}

/* jumbotron */

header .jumbotron {
  height: 650px;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 50px;  
  background-position: right;
  background-repeat: no-repeat;
  background-image: url('../img/jumbotron.png');
  background-color: #FFF3EE;
}

header .jumbotron-text h1 {
  font-size: 60px;
}

header .jumbotron-text p,
header .jumbotron-text h1 {
  padding-bottom: 30px;
}

header .jumbotron-text .jumbotron-text-subtitle {
  font-size: 120%;
  line-height: 3.5vh;
}

header .jumbotron-bottom {
  z-index: 10;
  position: absolute;
  top: 789px;
  height: 61px;
  width: 100%;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;;
  background-color: #AFEBE4;
}








/* main */

main .section {
  padding-right: 10%;
  padding-left: 10%;
}




/* top section */

#section-top {
  width: 100%;
  background-color: #F4F9FD;
  padding-bottom: 50px;
}

/* first block */

#section-top .first-block {
  padding-top: 50px;
  text-align: center;
  margin: auto;
}

#section-top .first-block img {
  width: 400px;
}

#section-top .first-block h1 {
  font-size: 40px;
}

#section-top .first-block p,
#section-top .first-block h1 {
  margin-bottom: 40px;
}

/* second block */

#section-top .second-block {
  text-align: center;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

#section-top .second-block .block-text,
#section-top .second-block .block-img {
  margin-top: 100px;
}

#section-top .second-block .block-text {
  position: relative;
  width: 70%;
  padding-right: 10%;
  text-align: left;
}

#section-top .second-block .block-text h2 {
  margin-bottom: 40px;
}

#section-top .second-block .block-text p {
  margin-right: 30%;
}

#section-top .second-block .block-text .horiz-line {
  width: 72%;
  margin-left: 50px;
  margin-top: 10px;
}

#section-top .second-block .block-text ul {
  margin-top: 100px;
  padding-bottom: 100px;
}

#section-top .second-block .block-text ul li:first-of-type {
  padding: 0;
}

#section-top .second-block .block-text ul li i {
  color: #FE785A;
  margin-right: 10px;
}

#section-top .second-block .block-text p,
#section-top .second-block .block-text h3,
#section-top .second-block .block-text ul {
  margin-bottom: 30px;
}

#section-top .second-block .block-img {
  width: 30%;
}

#section-top .second-block .block-img img {
  width: 150px;
  margin-bottom: 30px;
}

/* third block */

#section-top .third-block {
  width: 80%;
  margin: 80px auto;
}

#section-top .third-block .column {
  text-align: center;
  width: 30%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

#section-top .third-block .column img {
  margin: 20px 0;
  height: 130px;
}

#section-top .third-block .column h3 {
  margin-bottom: 20px;
}

#section-top .third-block .column p {
  width: 70%;
  min-height: 130px;
  margin: auto;
}

#section-top .third-block .column p a {
  margin-bottom: 20px;
}

#section-top .third-block .column .horiz-line {
  width: 80%;
  margin: 20px auto;
}

#section-top .third-block .column ul {
  text-align: left;
  margin: 0 10px 50px 50px;
}

#section-top .third-block .column ul li i {
  color: #FE785A;
  margin-right: 10px;
}

#section-top .third-block .column-center {
  margin: 0px 5% 0px 5%;
}



/* middle section */

#section-middle {
  width: 100%;
  color: white;
  text-align: center;
  background: linear-gradient(90deg, rgba(0,172,182,1) 0%, rgba(0,189,165,1) 100%);
}

#section-middle .section-middle-text {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
}

#section-middle .section-middle-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

#section-middle .section-middle-text p {
  line-height: 3vh;
}

.right-bord {
  border-right: 1px solid white;
}

.bot-bord {
  border-bottom: 1px solid white;
}

#section-middle .section-middle-table {
  width: 80%;
  margin: auto;
  padding-bottom: 100px;
}

#section-middle .section-middle-table .table-block {
  width: 25%;
}

#section-middle .section-middle-table .table-block img {
  margin: 20px 0 10px 0;
  height: 40px;
  width: 100px;
}

#section-middle .section-middle-table .table-block h1 {
  font-size: 36px;
}

#section-middle .section-middle-table .table-block p {
  margin: 10px 0 20px 0;
  font-size: 12px;
}



/* bottom section */

#section-bottom {
  width: 100%;
}

#section-bottom .logos {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

#section-bottom .logos .logos-text {
  width: 30%;
  padding-left: 10%;
}

#section-bottom .logos .logos-text h1 {
  font-size: 60px;
  margin-bottom: 30px;
}

#section-bottom .logos .logos-text p {
  font-size: 20px;
}

#section-bottom .logos .logos-img {
  width: 70%;
  padding: 0 10%;
  text-align: right;
}

#section-bottom .logos .logos-img ul li img {
  vertical-align: middle;
  width: 25%;
  height: 100%;
}

#section-bottom .logos .logos-img ul {
  height: 100px;
}

#section-bottom .logos .logos-img ul li {
  padding: 10px;
}

#section-bottom .start {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

#section-bottom .start .start-text {
  padding-right: 130px;
}

#section-bottom .start .start-text h1 {
  font-size: 40px;
  margin-top: 40px;
}

#section-bottom .start .start-text p {
  margin: 40px 0;
  font-size: 18px;
}

#section-bottom .start .start-text p.small-text {
  font-size: 12px;
}

#section-bottom .start .start-img {
  text-align: right;
}

#section-bottom .start .start-img img {
  height: 20%;
  max-height: 400px;
}





/* footer */

footer {
  width: 100%;
  color: #D6DBDE;
  background-color: #32495B;
}

footer .links, footer .bottom-footer {
  width: 80%;
  margin: auto;
}

footer .links .link-column {
  width: 25%;
  margin-bottom: 100px;
}

footer .links .link-column ul li {
  margin: 20px 0;
}

footer .links .link-column ul li h3 {
  margin: 40px 0;
}

footer .links .link-column ul li a {
  background-color: white;
  color: #32495B;
  border: none;
  font-size: 14px;
}

footer .links .link-column ul li i {
  width: 11%;
}

footer .languages {
  text-align: center;
  margin: 20px 0;
}

footer .legal, footer .bottom-logo {
  margin: 20px 0;
}

footer .legal {
  text-align: right;
}

footer a {
  text-decoration: none;
  color: #D6DBDE;
}

footer .bottom-footer {
  padding-bottom: 50px;
}